<div class="features_items">
    <h2 class="title text-center">Features Items</h2>

    {% for product in products %}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">

                        {% set picFirst = null %}
                        {% set picMain = null %}

                        {% for key, picture in product.pictures %}
                            {% if key == 0 %}
                                {% set picFirst = picture %}
                            {% endif %}
                            {% if picture.isMain is not null %}
                                {% set picMain = picture %}
                            {% endif %}
                        {% endfor %}

                        {% if picMain != null %}
                            <img src="{{ asset(picMain.getWebPath|imagine_filter('list_thumbnail')) }}" alt="">
                        {% elseif picFirst != null %}
                            <img src="{{ asset(picFirst.getWebPath|imagine_filter('list_thumbnail')) }}" alt="">
                        {% else %}
                            <img src="{{ asset('media/products/coming_soon.jpg'|imagine_filter('list_thumbnail')) }}" alt="">
                        {% endif %}

                        <h2>{{ product.price }}</h2>
                        <p>{{ product.name }}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <ul class="pagination">
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">»</a></li>
    </ul>
</div>