<div class="table-responsive cart_info">
    <table class="table table-condensed">
        <thead>
        <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for key, item in invoice.items %}
            <tr>
                <td class="cart_product">
                    {% set picFirst = null %}
                    {% set picMain = null %}

                    {% for key, picture in item.product.pictures %}
                        {% if key == 0 %}
                            {% set picFirst = picture %}
                        {% endif %}
                        {% if picture.isMain is not null %}
                            {% set picMain = picture %}
                        {% endif %}
                    {% endfor %}

                    <a href="{{ path('product_view', {'slug': item.product.slug}) }}">
                        {% if picMain != null %}
                            <img src="{{ asset(picMain.getWebPath|imagine_filter('mini_thumbnail')) }}" alt="">
                        {% elseif picFirst != null %}
                            <img src="{{ asset(picFirst.getWebPath|imagine_filter('mini_thumbnail')) }}" alt="">
                        {% else %}
                            <img src="{{ asset('media/products/coming_soon.jpg'|imagine_filter('mini_thumbnail')) }}" alt="">
                        {% endif %}
                    </a>
                </td>
                <td class="cart_description">
                    <h4>
                        <a href="{{ path('product_view', {'slug': item.product.slug}) }}">
                            {{ item.product.name }}
                        </a>
                    </h4>
                    <p>Web ID: {{ item.product.id }}</p>
                </td>
                <td class="cart_price">
                    <p>${{ item.product.price }}</p>
                </td>
                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_up" href="#"> + </a>
                        {{ form_widget(attribute(form.items, key)) }}
                        <a class="cart_quantity_down" href="#"> - </a>
                    </div>
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">${{ item.product.price * item.qty }}</p>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" href="{{ path('removeFromCart', {'id': item.product.id}) }}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="2">
                <table class="table table-condensed total-result">
                    <tbody><tr>
                        <td>Cart Sub Total</td>
                        <td>${{ invoice.amount }}</td>
                    </tr>
                    <tr>
                        <td>Exo Tax</td>
                        <td>$0</td>
                    </tr>
                    <tr class="shipping-cost">
                        <td>Shipping Cost</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td><span>${{ invoice.amount }}</span></td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody>
    </table>
</div>