{% extends 'AppBundle:admin:default.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .modal-footer > form {
            float: right;
        }
        .modal-footer > button {
            float: right;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'page.name.products.edit'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'page.name.products.edit'|trans }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#main" data-toggle="tab" aria-expanded="true">Main</a>
                                </li>
                                <li class=""><a href="#attributes" data-toggle="tab" aria-expanded="false">Attributes</a>
                                </li>
                                <li class=""><a href="#pictures" data-toggle="tab" aria-expanded="false">Pictures</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <br/>
                                    {{ form(form) }}
                                </div>
                                <div class="tab-pane fade" id="attributes">
                                    <br/>
                                    {% if app.request.attributes.get('id') == 0 %}
                                        <div class="alert alert-warning">
                                            {{ 'page.warning.youMustSaveProductFirst'|trans }}
                                        </div>
                                    {% else %}
                                        {{ render( controller(
                                            'AppBundle:Admin/Product:productAttributes',
                                            { 'id': app.request.attributes.get('id') }
                                        )) }}
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="pictures">
                                    <br/>
                                    {% if app.request.attributes.get('id') == 0 %}
                                        <div class="alert alert-warning">
                                            {{ 'page.warning.youMustSaveProductFirst'|trans }}
                                        </div>
                                    {% else %}
                                        {{ render( controller(
                                            'AppBundle:Admin/ProductPicture:index',
                                            { 'id': app.request.attributes.get('id') }
                                        )) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $( "input[type='radio']" ).click(function() {
                $( "input[type='radio']" ).removeAttr('checked');
                $( this ).prop("checked", true);
            });
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var data = button.data('whatever');
            var modal = $(this);
//            modal.find('.modal-title').text('New message to ' + recipient);
            modal.find('.modal-footer form').prop('action', data);
//            modal.find('.modal-body input').val(recipient);
        });

    </script>
{% endblock %}