{% extends 'AppBundle:shop:1-column.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #cart_items .cart_info {
            margin-bottom: 0;
        }
        #footer {
            margin-top: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            {{ form_start(form) }}
                {{ include('AppBundle:shop/cart:cart.html.twig', {'invoice': invoice, 'form': form}) }}
                <div style="float: right; margin-left: 15px;">
                    {{ form_widget(form.update) }}
                </div>
            {{ form_end(form) }}
            <div style="float: right">
                <a class="btn btn-primary" href="{{ path('checkout') }}">Go to checkout</a>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.cart_quantity_up, .cart_quantity_down').on('click', function(e){
                e.preventDefault();
                var button = $(this);
                var input = button.parent().find('.cart_quantity_input');
                if (button.hasClass('cart_quantity_up')) {
                    input.val(parseInt(input.val()) + 1);
                }
                else if (button.hasClass('cart_quantity_down')) {
                    var value = parseInt(input.val()) - 1;
                    input.val(value == 0 ? 1 : value);
                }
            });

            $('.cart_quantity_input').on('change', function() {
                var value = $(this).val();
                if($.isNumeric(value)) {
                    if (value <= 0) {
                        $(this).val('1');
                    }
                }
                else {
                    $(this).val('1');
                }

            })
        });
    </script>
{% endblock %}