{% extends 'AppBundle:shop:1-column.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #cart_items .cart_info {
            margin-bottom: 0;
        }
        #footer {
            margin-top: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            {{ form_start(form) }}
                {{ include('AppBundle:shop/cart:cart.html.twig', {'invoice': invoice, 'form': form}) }}
                <div style="float: right; margin-left: 15px;">
                    {{ form_widget(form.update) }}
                </div>
            {{ form_end(form) }}
            <div style="float: right">
                <a class="btn btn-primary" href="{{ path('checkout') }}">Go to checkout</a>
            </div>
        </div>
    </section>
{% endblock %}