{% extends 'AppBundle:shop:user-info.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    № {{ invoice.id }}
                </span>
                <span style="margin-left: 15px">
                    {{ invoice.createdAt|date("d.m.Y H:i") }}
                </span>
                <span style="margin-left: 15px">
                    {{ invoice.amount }} {{ 'currency'|trans }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        {% for item in invoice.items %}
            <div class="row">
                <div class="col-sm-3">
                    <a href="{{ path('product_view', {'slug': item.product.slug}) }}">
                        <img src="{{ asset(getProductMainPicture(item.product)|imagine_filter('mini_thumbnail')) }}"
                             alt="{{ item.product.name }}">
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ path('product_view', {'slug': item.product.slug}) }}">
                        {{ item.product.name }}
                    </a>
                    <br>
                    {{ item.product.price }} {{ 'currency'|trans }}
                </div>
                <div class="col-sm-3 text-center">
                    {{ item.qty }} {{ 'pieces'|trans }}
                </div>
                <div class="col-sm-3 text-center">
                    {{ item.price * item.qty }} {{ 'currency'|trans }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'invoice.status'|trans }}</h3>
            </div>
            <ul class="list-group">
                {% if invoice.statuses|length == 0 %}
                    <li class="list-group-item">{{ 'invoice.status.is_processed'|trans }}</li>
                {% else %}
                    {% for status in invoice.statuses %}
                        <li class="list-group-item">
                            {{ status.status|trans }}
                            <div class="pull-right">
                                {{ status.createdAt|date("d.m.Y H:i") }}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

