{% extends 'AppBundle:shop:user-info.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form.Delete, {'attr': {'class': 'btn btn-default'}}) }}
    <table class="table table-bordered table-striped table-hover table-condensed private-messages-table">
        <thead>
        <tr>
            <th class="private-message-check"><input type="checkbox" name="select-all"></th>
            <th class="private-message-username">{{ 'private_message.to'|trans }}</th>
            <th class="private-message-subject">{{ 'private_message.subject'|trans }}</th>
            <th class="private-message-time">{{ 'private_message.time'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for child in form.PrivateMessages %}
            {% set sentPrivateMessage = allSentPrivateMessages[child.vars.value] %}
            <tr>
                <td class="private-message-check">
                    {{ form_widget(child, {'attr': {'class': 'selected'}}) }}
                </td>
                <td class="private-message-username">
                    {{ sentPrivateMessage.recipient.username }}
                </td>
                <td class="private-message-subject">
                    <a href="{{ path('show_private_message', {'id': sentPrivateMessage.id}) }}">{{ sentPrivateMessage.title }}</a>
                </td>
                <td class="private-message-time">
                    {{ sentPrivateMessage.sentTime|date("d.m.Y H:i") }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/select-all.js') }}"></script>
{% endblock %}
