<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        {% for category in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {% if category.children.count() > 0 %}
                            <a data-toggle="collapse" data-parent="#accordian" href="#category{{ category.id }}">
                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                {{ category.title }}
                            </a>
                        {% else %}
                            <a href="{{ path('products_filtered', {'filter': 'category', 'param': category.slug}) }}">
                                {{ category.title }}
                            </a>
                        {% endif %}
                    </h4>
                </div>
                {% if category.children.count() > 0 %}
                    <div id="category{{ category.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                {% for subcategory in category.children %}
                                    <li>
                                        <a href="{{ path('products_filtered', {'filter': 'category', 'param': subcategory.slug}) }}">
                                            {{ subcategory.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>