<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">

                <a href="{{ path('product_view', {'slug': product.slug}) }}">
                    <img src="{{ asset(getProductMainPicture(product)|imagine_filter('list_thumbnail')) }}" alt="">
                </a>

                <h2>{{ product.price }}</h2>
                <p>{{ product.name }}</p>
                <button formaction="{{ path('addToCart', {'id': product.id}) }}" class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>{{ 'add_to_cart'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>